:root {
    --logo-color: #FFE082;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div, nav, header, section {
    /* border: 1px solid blue; */
}

/* BIG SECTIONS */

#container {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

/* NAV */

#container > nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: #14213d;
}

#container > nav > * {
    padding: 1rem;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav-logo > p {
    font-size: 2rem;
    font-family: 'Lexend', Roboto;
    color: var(--logo-color);
}

#logo {
    height: 128px;
}

#nav-main {

}

/* HEADER */

header {
    z-index: 1;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.030);
}

header > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

#small-header-section {
    grid-row: 1 / 2;
}

#big-header-section {
    grid-row: 2 / 3;
}

#small-header-section > div,
#big-header-section > div {
    display: flex;
}

/* DASHBOARD MAIN*/

#dashboard{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #E2E8F0;
}

#dashboard-main > *,
#dashboard-side-features > * {
    padding: 1rem 1rem 0 1rem;
}

.dashboard-titles {
    padding-top: 2rem !important;
    font-family: 'Zalando Sans Expanded';
    font-size: 20px;
    font-weight: 400;
}

/* NOTES SECTION */

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.note {
    border-radius: 8px;
    padding: 1rem;
    background-color: white;
    border-left: 8px solid #fca311;
}

.note-body {
    display: flex;
    flex-direction: column;

}

.note-title, .note-text {
    font-family: 'Noto Sans Display';
}

.note-title {
    font-size: 18px;
    font-weight: 500;
}

.note-text {
    font-size: 15px;
    font-weight: 300;
}